[submodule "Core/Lib/utils"]
	path = Core/Lib/utils
	url = git@github.com:thodoxuan392/utils.git
[submodule "Core/Lib/PN532"]
	path = Core/Lib/PN532
	url = git@github.com:thodoxuan392/Adafruit-PN532.git
