[submodule "Core/Lib/netif"]
	path = Core/Lib/netif
	url = git@github.com:thodoxuan392/esp32_net.git
[submodule "Core/Lib/utils"]
	path = Core/Lib/utils
	url = git@github.com:thodoxuan392/utils.git
[submodule "Core/Lib/jsmn"]
	path = Core/Lib/jsmn
	url = git@github.com:thodoxuan392/jsmn.git
